<div class="dialog-sek" [formGroup]="forma">
    <div class="dialog-header">
        <h2 *ngIf="new_student"><span><i class="fas fa-user"></i></span> {{ 'summerCourse.addStudents.addStudent' | translate }}</h2>
        <h2 *ngIf="student"><span><i class="fas fa-user"></i> {{ 'admission.studentInformation.form_tittle' | translate }}:</span> {{ student.full_name }}</h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>

    <fieldset class="dialog-body">
      <!-- Capa Form Desactivado -->
      <div *ngIf="forma.disabled" class="mandatory-contact">
        <div class="message-danger">{{ 'admission.form_disabled' | translate }}</div>
      </div>
        <!--Datos alumno-->
        <div class="section-body">
            <h3>{{ 'formData.student.tittleStudentInformation' | translate }}</h3>

            <div class="one-row">
                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.student.firstName' | translate }}</mat-label>
                    <input matInput formControlName="first_name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_name').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.student.surname' | translate }}</mat-label>
                    <input matInput formControlName="first_surname" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_surname').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.student.secondSurname' | translate }}</mat-label>
                    <input matInput formControlName="second_surname">
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.student.birthdate' | translate }}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birth_date" [errorStateMatcher]="matcher">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="forma.get('birth_date').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.documentType' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="document_type" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let docuType of document_types" value="{{docuType['value']}}">{{docuType['label']}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('document_type').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label *ngIf="forma.get('document_type').value != 'Otros' && forma.get('document_type').value != 'Pasaporte'">{{ (!!forma.get('document_type').value || forma.get('document_type').value == 'Otros') ? forma.get('document_type').value : 'Documento' }}</mat-label>
                    <mat-label *ngIf="forma.get('document_type').value == 'Pasaporte'">{{ 'formData.student.passport' | translate }}</mat-label>
                    <mat-label *ngIf="forma.get('document_type').value == 'Otros'">{{ 'formData.student.other' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="document_number" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.controls.document_number.errors">
                        {{ getErrorMessage(forma.controls.document_number) }}
                    </mat-error>
                </mat-form-field>


                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.student.hed__Gender__c' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="gender" [errorStateMatcher]="matcher">
                        <mat-option value="Male">{{ 'public.male' | translate }}</mat-option>
                        <mat-option value="Female">{{ 'public.female' | translate }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('gender').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.nationality' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="nationality" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let nationality of nationalities | firstWhen: {eval: 'value==\'Spain\'', then: 'label'}" value="{{nationality['value']}}">{{nationality['label']}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('nationality').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

            </div>

        </div>

        <!--Datos dirección-->
        <div class="section-body">
            <h3>{{ 'public.addressData' | translate }}</h3>

            <app-address-alias *ngIf="!new_student && student.id && id_family" (statusAddressForm)=" statusAddressForm = $event" userType="Student" [id]="student.id" idFamily="{{id_family}}" [disabled]="forma.disabled" [saved]="saved"></app-address-alias>

            <app-address-alias *ngIf="new_student && id_family" (statusAddressForm)=" statusAddressForm = $event" userType="Student" id="0" idFamily="{{id_family}}" [saved]="saved" [disabled]="forma.disabled" [id_new_student]="id_new_student"></app-address-alias>
        </div>


        <div class="section-body">

            <h3>{{ 'summerCourse.addStudents.medicalInformation' | translate }}</h3>

            <div class="one-row">
                <mat-form-field class="col-100">
                    <mat-label>{{ 'summerCourse.addStudents.medicalInformationAfflictions' | translate }}</mat-label>
                    <textarea maxlength="300" matInput placeholder="" formControlName="medical_information" [errorStateMatcher]="matcher"></textarea>
                    <mat-error *ngIf="forma.get('medical_information').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </fieldset>

    <div class="dialog-footer footer-fixed">
        <div class="footer-content">
            <button *ngIf="new_student" [disabled]="forma.invalid || !statusAddressForm || forma.disabled" class="btn-main" (click)="save()">{{ 'public.send' | translate }}</button>
            <button *ngIf="!new_student" [disabled]="forma.invalid || !statusAddressForm || forma.disabled" class="btn-main" (click)="update()">{{ 'public.send' | translate }}</button>
        </div>
    </div>

</div>
