<div *ngIf="tutor" class="card-sek">
    <div class="card-header header-standard">
        <h2><i class="fas fa-user-shield"></i> tutor </h2>
        <div>
            <span [ngClass]="(tutor.logged) ? 'icoTerms2' : 'icoTerms2NotCursor'" (click)="goToTerms()">
                <span *ngIf="tutor.accepted_terms" class="terms-accepted" title="{{ 'termsConditions.accepted' | translate }}">T&C</span>
            <span *ngIf="!tutor.accepted_terms" class="terms-not-accepted" title="{{ 'termsConditions.notAccepted' | translate }}">T&C</span>
            </span>

            <!-- <app-admin-actions *ngIf="admin_view" [type]="'tutor'"></app-admin-actions> -->
        </div>
    </div>

    <div class="card-body">
        <h4>{{ tutor.full_name }}</h4>
        <div class="progress-bar">
            <mat-progress-bar mode="determinate" value="{{ tutor.progress }}"></mat-progress-bar>
            <ng-container *ngIf="tutor.progress === 100; then done; else procesing"></ng-container>
            <ng-template #done>
                <i ngi class="material-icons accepted">done</i>
            </ng-template>
            <ng-template #procesing>
                <span> {{ tutor.progress }}% </span>
            </ng-template>

        </div>
    </div>

    <div class="card-footer">
        <a (click)="sendDialogInfo('tutor_info', tutor, family)">
            <i class="far fa-address-card"></i> {{ 'summerCourse.courses.personalData' | translate }}
        </a>

    </div>



</div>
