<div class="announcement-course">
    <label>Convocatoria:</label> {{ 'summerCourse.courses.from' | translate }}
    <b>{{ announcement.init | date:'dd/MM/yyyy' }}</b> {{ 'summerCourse.courses.toDate'| translate }}
    <b>{{ announcement.end | date:'dd/MM/yyyy' }}</b>
    <span *ngIf="announcement.paid" class="status-course">Pagado</span>
</div>