.announcement-course {
    margin: 5px 8px;
    font-size: 0.9rem;
    color: #1e1f1f;
    label {
        color: #999;
    }
}

.status-course {
    text-transform: uppercase;
    background: rgb(64, 179, 64);
    padding: 3px;
    color: #fff;
    padding: 2px 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
}