<ng-container *ngIf="!!student">
    <div class="card-sek">
        <div class="card-header header-standard">
            <h2><i class="fas fa-user"></i> {{ student.full_name }}</h2>

            <div class="actions-header">
                <a class="underline" *ngIf="student.courses.length" (click)="student.show_courses=!student.show_courses">
                    {{student.courses.length}} {{ 'admission.studentInformation.course' | translate }}<span *ngIf="student.courses.length > 1">s</span>
                </a>
                <app-admin-actions *ngIf="admin_view" [type]="'student'"></app-admin-actions>
            </div>
        </div>

        <div class="card-body">
            <div class="progress-bar">
                <mat-progress-bar mode="determinate" value="{{ student.progress }}"></mat-progress-bar>
                <ng-container *ngIf="student.progress === 100; then done; else procesing"></ng-container>
                <ng-template #done>
                    <i ngi class="material-icons accepted">done</i>
                </ng-template>
                <ng-template #procesing>
                    <span>{{ student.progress }}% </span>
                </ng-template>
            </div>

            <card-selected-courses [hidden]="student.show_courses" *ngFor="let course of student.courses" [id_student]="student.id" [course]="course" (click)="sendDialogInfo('course_details', family, student.id, course.id )"></card-selected-courses>

            <div class="remember-pay" *ngIf="canPay && hiddenAlerts.indexOf('canPay')==-1"> {{ 'summerCourse.courses.finalizeRegistration' | translate }} <a (click)="closeAlert('canPay')"><i class="fas fa-times"></i></a></div>
        </div>

        <div class="card-footer">
            <a *ngIf="canPay && showOptionsCdv()" class="no-pay" (click)="sendDialogInfo('courses_payment', family)"><i class="far fa-credit-card"></i> {{ 'public.pay' | translate }}</a>
            <span class="pay-disabled" *ngIf="!canPay && showOptionsCdv()"><i class="far fa-credit-card"></i> {{ 'public.pay' | translate }}</span>
            <a *ngIf="showOptionsCdv()" (click)="sendDialogInfo('courses_finder', family, student.id)"><i class="fas fa-plus-square"></i> {{ 'summerCourse.courses.newCourse' | translate }}</a>
            <a (click)="sendDialogInfo('student_info', student)"><i class="far fa-address-card"></i> {{ 'summerCourse.courses.personalData' | translate }}</a>

        </div>
    </div>
</ng-container>