@import '../../../../../../all-styles/variables.scss';
mat-expansion-panel {
    margin-top: 1rem;
    mat-panel-title {
        font-size: 1.05rem;
        color: $sek-blue;
        .material-icons {
            margin-right: 5px;
        }
    }
}

.container-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    mat-checkbox {
        margin-right: 15px;
    }
}

@media (max-width: 578px) {
    .container-check {
        flex-direction: column;
        align-items: flex-start !important;
    }
}