<div class="dialog-sek">
    <div class="dialog-header">
        <h2>
            <i class="fas fa-plus-square"></i> {{ 'summerCourse.addStudents.addSummerCourse' | translate }}
        </h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>


    <div class="dialog-body">
        <div class="section-body">
            <h3>{{ 'summerCourse.addStudents.searchCourses' | translate }}</h3>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header *ngIf="schools_nationals">
                        <mat-panel-title>
                            <i class="material-icons">
                                            outlined_flag
                                            </i> {{ 'summerCourse.addStudents.national' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="checkbox-container" *ngFor="let national of schools_nationals">
                        <mat-checkbox (change)="selectSchool(national.id, $event.checked)"> {{national.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header *ngIf="schools_internationals">
                        <mat-panel-title>
                            <i class="material-icons">
                                            language
                                            </i> {{ 'summerCourse.addStudents.international' | translate }}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="checkbox-container" *ngFor="let international of schools_internationals">
                        <mat-checkbox (change)="selectSchool(international.id, $event.checked)">{{international.name}}</mat-checkbox>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

     <!--   <div class="section-body">
            <h3>{{ 'summerCourse.addStudents.ageRange' | translate }}</h3>
            <nouislider [connect]="true" [min]="1" [max]="18" [(ngModel)]="ageRange" [step]="1" [tooltips]="[true, true]" (change)="filterCourse()"></nouislider>
        </div>-->

        <div class="section-body">
            <h3>{{ 'summerCourse.addStudents.theme' | translate }}</h3>
            <div class="container-check">
                <div *ngFor="let thematic of thematics">
                    <mat-checkbox (change)="selectThematic(thematic.id, $event.checked)">{{ thematic['name'] }}</mat-checkbox>
                </div>

            </div>
        </div>

        <courses-list-dialog *ngIf="courses.length > 0" [family]="family" [id_student]="id_student" [admin_view]="admin_view" [courses]="courses"></courses-list-dialog>
    </div>

</div>
