<div class="main-layout" *ngIf="family">

    <h1><i class="fas fa-users"></i> {{ family.name }}</h1>

    <div class="row-layout">

        <card-tutor *ngFor="let tutor of family.tutors" [tutor]="tutor" [family]="family" [admin_view]="admin_view"></card-tutor>

        <!-- <card-disabled-tutor *ngFor="let tutor of privates_tutors" [id_family]="family.id" [logged_tutor_full_name]="logged_tutor_full_name" [tutor]="tutor"></card-disabled-tutor> -->

        <card-add *ngIf="family.tutors.length < 2" [id_family]="family.id" [type]="'tutor'"></card-add>

    </div>

    <div class="row-layout">

        <card-student *ngFor="let student of family.students" [student]="student" [family]="family" [admin_view]="admin_view"></card-student>

        <card-add [type]="'student'"></card-add>

    </div>


</div>
