<div (click)="openDialog()" class="card-sek new-card">
    <div class="icon">
        <i class="fas fa-user-shield" *ngIf="type === 'tutor'"></i>
        <i class="fas fa-user" *ngIf="type === 'student'"></i>
    </div>


    <div>
        <h2 *ngIf="type === 'tutor'">{{ 'summerCourse.addTutors.addTutor' | translate }}</h2>
        <h2 *ngIf="type === 'student'">{{ 'summerCourse.addStudents.addStudent' | translate }}</h2>
    </div>
</div>