@import '../../../../../all-styles/variables.scss';
@import '../../admissionInProcess/admissionInProcess.component.scss';
.card-sek.collapsed>.card-body:nth-child(1),
.card-sek.collapsed>.card-body.card-1 {
    display: none;
}

.card-sek .card-body {
    min-height: 0;
}