<div class="main-layout">
    <div class="row-layout">
        <div class="filter" [formGroup]="forma">
            <mat-accordion>
                <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <i class="fas fa-search"></i> <span>{{ 'admission.admissionInProcess.searchFilter' | translate }}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="filter-content">

                        <mat-form-field class="col-50" floatLabel="always">
                            <mat-label></mat-label>

                            <input type="text" (keydown.enter)="resultsFilter()" matInput formControlName="text_filter" placeholder="{{ 'admission.admissionInProcess.searchName' | translate }}">
                        </mat-form-field>

                        <mat-form-field class="col-50" floatLabel="always">
                            <mat-label></mat-label>
                            <mat-select formControlName="admission_status" placeholder="{{ 'admission.admissionInProcess.selectStateType' | translate }}" multiple>
                                <mat-option value="Inicio Proceso Admisión">{{ 'admission.admissionInProcess.startProcessAdmission' | translate }}</mat-option>
                                <mat-option value="Matriculado"> {{ 'admission.changeAdmissionStatus.enrolled' | translate }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-50" floatLabel="always">
                            <mat-label></mat-label>
                            <mat-select formControlName="courses" placeholder="{{ 'admission.admissionInProcess.searchCourse' | translate }}" multiple>
                                <mat-option *ngFor="let course of all_courses_filters" [value]="course.id">{{course.name}} </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-50" floatLabel="always">
                            <mat-label></mat-label>
                            <mat-select formControlName="schools" placeholder="{{ 'admission.admissionInProcess.searchSchools' | translate }}" multiple>
                                <mat-option *ngFor="let school of schools" [value]="school.id">{{school.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div class="filter-button">
                        <button class="btn-second" (click)="resultsFilter()">{{ 'admission.admissionInProcess.search' | translate }}</button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>


    <!-- Final FILTROS DE BUSQUEDA -->

    <!-- BLOQUE DATOS FAMILIA -->
    <div class="row-layout" infiniteScroll data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" [fromRoot]="false" (scrolled)="onScroll()">
        <div *ngFor="let familyData of familiesData">
            <div class="card-sek" [ngClass]="{'collapsed': !familyData.collapsed}">
                <div class="card-header header-standard">
                    <h2><i class="fas fa-users"></i> {{ familyData['name'] }}</h2>
                    <div class="actions-header">
                        <a *ngIf="familyData['students'].length > 0" (click)="familyData.collapsed=!familyData.collapsed">
                            <span *ngIf="!familyData.collapsed">{{ 'admission.admissionInProcess.view' | translate }}</span>
                            <span *ngIf="familyData.collapsed">{{ 'admission.admissionInProcess.hide' | translate }}</span> {{familyData['students'].length}} {{ 'admission.admissionInProcess.sons' | translate }}</a>
                    </div>
                </div>
                <div class="card-body info-card {{'card-' + (i+1)}}" *ngFor="let studentData of familyData['students']; index as i">
                    <div class="identity">
                        <h4>{{ studentData['first_name'] }} {{ studentData['first_surname'] }} {{ studentData['second_surname'] }}</h4>
                    </div>

                    <card-selected-courses *ngFor="let courseData of studentData['courses']" [id_student]="studentData[id]" [course]="courseData"></card-selected-courses>
                </div>
                <div class="card-footer">
                    <a (click)="goToDashboard(familyData['id'])"><i class=" fas fa-eye "></i> {{ 'admission.admissionInProcess.viewFamily' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="message-info" *ngIf="noResults">
        {{ 'admission.admissionInProcess.noResult' | translate }}

    </div>



</div>