<div class="dialog-sek" *ngIf="course_detail">
    <div class="dialog-header">
        <h2>
            {{ 'summerCourse.addStudents.detailsCourse' | translate }}
        </h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>


    <fieldset class="dialog-body">
        <div class="section-body course-list">
            <img src="app/assets/img_sc/{{course_detail.photo}}">
            <div class="course-item">
                <p class="title">{{ course_detail.name }}</p>
                <p class="location"><i class="fas fa-map-marker-alt"></i> {{ course_detail.school.name }}</p>
                <div class="announcement-course">
                    <label>{{ 'summerCourse.courses.ageOf' | translate }}</label>
                    <b>{{ course_detail.age_min }} {{ 'summerCourse.courses.to' | translate }} {{ course_detail.age_max }} {{ 'summerCourse.courses.years' | translate }}</b>
                </div>
                <div class="announcement-course">
                    <label>Convocatoria {{ 'summerCourse.courses.from' | translate }}</label>
                    <b>{{ course_detail.init | date:'dd/MM/yyyy' }}</b> {{ 'summerCourse.courses.toDate' | translate }} <b>{{ course_detail.end | date:'dd/MM/yyyy' }}</b>
                </div>
                <a href="{{course_detail.link}}" class="btn-link" target="_blank">{{ 'summerCourse.addStudents.detailsCourse' | translate }}</a>
            </div>
        </div>

        <div class="section-body">
            <h3>{{'summerCourse.courses.week' | translate }}s</h3>
            <div *ngFor="let announcement of course_detail.announcements; let i = index">
                <div *ngIf="!seaCampFlag" class="announcement-section">
                    <mat-checkbox [(ngModel)]="announcement.selected" (change)="onChange()">
                        <span class="announcement">{{'summerCourse.courses.week' | translate }} {{ 'summerCourse.courses.from' | translate }}</span>
                        <span class="dates">{{ announcement.init | date:'dd/MM/yyyy' }}</span> {{ 'summerCourse.courses.toDate'| translate }}
                        <span class="dates">{{ announcement.end | date:'dd/MM/yyyy' }}</span>
                    </mat-checkbox>
                    <span class="price">{{announcement.price | number: '1.0-0'}}€</span>
                </div>

                <div *ngIf="seaCampFlag" class="announcement-section">
                    <mat-checkbox [(ngModel)]="announcement.selected" (change)="onChange(i)">
                        <span class="announcement">{{'summerCourse.courses.week' | translate }} {{ 'summerCourse.courses.from' | translate }}</span>
                        <span class="dates">{{ announcement.init | date:'dd/MM/yyyy' }}</span> {{ 'summerCourse.courses.toDate'| translate }}
                        <span class="dates">{{ announcement.end | date:'dd/MM/yyyy' }}</span>
                    </mat-checkbox>
                    <span class="price">{{announcement.price | number: '1.0-0'}}€</span>
                </div>
            </div>

            <div *ngIf="course_discount.plusFlag">
                <div class="announcement-section">
                    <span class="discount">{{ 'summerCourse.courses.campService' | translate }}</span>
                    <span class="price">+ 120€</span>
                </div>
            </div>

            <div *ngIf="course_discount_flag && announcements_selected.length">
                <div *ngFor="let discount of course_discount.course_reduced.discounts; let i = index">
                    <div class="announcement-section">
                        <span class="discount">{{ discount.name }}</span>
                        <span class="price">- {{ discount.amount | number: '1.0-0' }}€</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="section-body" *ngIf="announcements_selected.length && course_detail.additional_ser.length">
            <h3> {{'public.additionalService' | translate}}</h3>
            <div *ngFor="let service of course_detail.additional_ser; let i = index">
                <div class="announcement-section">
                    <mat-checkbox [(ngModel)]="service.selected" (change)="onChange()" name="additional_{{i}}">
                        {{ service.name }}</mat-checkbox>
                    <span class="price">{{(service.price * announcements_selected.length) | number: '1.0-0' }}€</span>
                </div>
            </div>

            <div class="one-row" [formGroup]="forma" *ngIf="route_view">
                <mat-form-field class="col-50">
                    <mat-label>{{'public.selectRoute' | translate}} </mat-label>
                    <!-- [(ngModel)]="course_detail.route" -->
                    <mat-select placeholder="" formControlName="route" (change)="setRouteType($event)" required [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let option of offerRouteOptions" [value]="option.value ">{{ option.label }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('route').errors">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>
            </div>

            <div class="one-row" *ngIf="service_discount_flag ">
                <div *ngFor="let service of course_discount.course_reduced.additional_services; let i=index ">
                    <div *ngFor="let discount of service.discounts ">
                        <div class="announcement-section ">
                            <span class="discount ">{{service.name}}: {{ discount.name }}</span>
                            <span class="price ">- {{ discount.amount | number: '1.0-0' }}€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-body mb-0 " *ngIf="announcements_selected.length && freeActivityFlag ">
            <h3>Actividades a realizar</h3>
            <div class="one-row ">
                <mat-form-field class="col-100 ">
                    <mat-label>Introduzca las actividades</mat-label>
                    <textarea maxlength="300 " matInput placeholder=" " [(ngModel)]="course_detail.activities " [errorStateMatcher]="matcher "></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="section-body " *ngIf="course_detail.school.international ">
            <h3>Campos internacionales</h3>
            <div class="one-row ">
                <mat-form-field class="col-50 ">
                    <mat-label>Deseo que gestionen mi vuelo</mat-label>
                    <mat-select [(ngModel)]="course_detail.inter_fields.flight_option " required>
                        <mat-option *ngFor="let option of flight_option " [value]="option.value ">{{ option.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="course_detail.inter_fields.flight_option==='Deseo que gestionen mi vuelo' " class="col-50 ">
                    <mat-label>Desde</mat-label>
                    <mat-select [(ngModel)]="course_detail.inter_fields.flight_origin " required>
                        <mat-option *ngFor="let option of flight_origin " [value]="option.value ">{{ option.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-50 ">
                    <mat-label>Nivel de idioma</mat-label>
                    <mat-select [(ngModel)]="course_detail.inter_fields.language_level " required>
                        <mat-option *ngFor="let option of language_level " [value]="option.value ">{{ option.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-50 ">
                    <mat-label>¿Ha realizado algún programa en el extranjero?</mat-label>
                    <mat-select [(ngModel)]="course_detail.inter_fields.abroad_program " required>
                        <mat-option *ngFor="let option of abroad_program " [value]="option.value ">{{ option.label }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="course_detail.inter_fields.abroad_program==='Sí' " class="col-50 ">
                    <mat-label>Tipo de programa, lugar y duración</mat-label>
                    <input matInput placeholder=" " [(ngModel)]="course_detail.inter_fields.program_type_place_duration " required>
                </mat-form-field>

                <mat-form-field class="col-50 ">
                    <mat-label>Pasaporte</mat-label>
                    <input matInput placeholder=" " [(ngModel)]="course_detail.inter_fields.passport " required>
                </mat-form-field>
            </div>
        </div>

        <div class="section-body ">
            <div class="announcement-section total-price ">
                <span class="total ">{{ 'summerCourse.courses.subtotal' | translate }}</span>
                <span class="price ">{{ initial_amount | number: '1.0-0'}}€</span>
            </div>

            <div class="announcement-section total-price final-price ">
                <span class="total ">{{ 'summerCourse.courses.orderTotal' | translate }}</span>
                <span class="price ">{{ final_amount | number: '1.0-0' }}€</span>
            </div>
        </div>

        <div class="section-body " *ngIf="showOptionsCdv() ">
            <div class="body-buttons ">
                <button *ngIf="is_new_course " class="btn-main " [disabled]="formValid() || !validInterFields() || !announcements_selected.length" (click)="addCourse() ">{{ 'summerCourse.addStudents.addCourse' | translate }}</button>
                <button *ngIf="!is_new_course" class="btn-main " [disabled]="formValid() || !validInterFields() || !announcements_selected.length" (click)="editCourse() ">{{ 'summerCourse.addStudents.editCourse' | translate }}</button>
                <button *ngIf="is_new_course " class="btn-main " [disabled]="formValid() || !validInterFields() || !announcements_selected.length" (click)="addAndPay( 'courses_payment') ">{{ 'public.pay' | translate }}</button>
                <button *ngIf="!is_new_course" class="btn-main " [disabled]="formValid() || !validInterFields() || !announcements_selected.length" (click)="editAndPay( 'courses_payment') ">{{ 'public.pay' | translate }}</button>
            </div>
        </div>
    </fieldset>
</div>