@import '../../../../../../all-styles/variables.scss';
@import '../../cards/selected-courses-list/selected-courses-list.component.scss';
@import '../../components/announcement/announcement.component.scss';
.course-list {
    border-top: none;
    a {
        font-size: 0.9rem;
        margin-left: 5px;
    }
}

.announcement-section {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    .announcement {
        display: inline-block;
    }
    .dates {
        display: inline;
        color: $sek-blue;
        font-weight: 600;
    }
    .discount {
        margin-left: 1.8rem;
    }
}

.total-price {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.final-price {
    text-transform: uppercase;
    color: #ad3b33;
}

span.price {
    white-space: nowrap;
}

@media (max-width: 575.98px) {
    .announcement-section {
        .announcement {
            display: none;
        }
    }
}