@import '../../../../../../all-styles/variables.scss';
.k-pdf-export {
    font-size: 13px;
    .student-info-courses {
        .section-course {
            .student-name {
                font-size: 1rem;
                font-weight: bold;
            }
            .course-name {
                p {
                    font-weight: normal;
                    font-size: 13px;
                    .separation {
                        margin: 0 10px;
                        padding: 0 10px;
                    }
                }
            }
            .course-info {
                .course-content {
                    font-weight: normal;
                    .text {
                        .separation {
                            margin-right: 3px;
                            padding-right: 3px;
                        }
                        b {
                            margin: 0 3px;
                            padding: 0 3px;
                        }
                    }
                }
            }
        }
    }
    .invoice {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 0.75rem;
        .container-invoice {
            display: flex;
            flex-direction: column;
            align-content: flex-end;
            .block1,
            .block2 {
                margin: 5px 0;
                padding: 5px 0;
                font-size: 0.9rem;
                p {
                    text-align: left;
                }
            }
        }
    }
    .info-receipt {
        button {
            display: none;
        }
    }
    .price,
    .course-price {
        .euro {
            display: inline-block;
            margin-left: 5px;
        }
        .symbol {
            display: none;
        }
    }
}

.invoice {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 0.75rem;
    .container-invoice {
        display: flex;
        justify-content: space-between;
        .block1,
        .block2 {
            margin: 5px 0;
            padding: 5px 0;
            font-size: 0.9rem;
            p {
                text-align: left;
            }
        }
    }
}

.info-receipt {
    border: 1px solid #f3ee47;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background: #faf6d7;
    margin-bottom: 20px;
    position: relative;
    button {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #777;
        padding: 5px 8px;
        color: #777;
        background: transparent;
        @extend %transition-sek;
        &:hover {
            background: $sek-blue;
            color: #fff;
        }
    }
    h4 {
        font-size: 1.05rem;
        text-transform: uppercase;
        margin: 0;
    }
    .data-receipt {
        display: flex;
        justify-content: space-between;
        p {
            margin: 10px 0;
        }
        span.label {
            color: grey;
            margin-right: 5px;
        }
        span.total {
            font-weight: bold;
        }
    }
}

.section-course {
    .student-name {
        h6 {
            color: $sek-orange;
            text-transform: uppercase;
            border-bottom: 1px solid #f9d0bb;
            padding-bottom: 0.4rem;
            margin-bottom: 1rem;
            font-size: 1rem;
        }
    }
}

.euro {
    display: none;
}

@media (max-width: 575.98px) {
    .invoice {
        .container-invoice {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}