<div class="dialog-sek" *ngIf="receipt">
    <div class="dialog-header">
        <h2>
            <span><i class="far fa-credit-card"></i> {{ 'summerCourse.payment.paymentCourses' | translate }}:</span> NOMBRE DE LA FAMILIA
        </h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>

    <div class="dialog-body">
        <kendo-pdf-export #pdf paperSize="A4" margin=".5cm" [scale]="scale">
            <div class="info-receipt">
                <h4>{{ 'summerCourse.payment.receipt' | translate}}</h4>
                <div class="data-receipt">
                    <p><span class="label">{{ 'public.date' | translate }}</span>{{ receipt.date | date:'dd/MM/yyyy' }}</p>
                </div>
                <div class="data-receipt">
                    <span><span class="label">{{ 'summerCourse.payment.concept' | translate }}:</span> {{ 'summerCourse.payment.descConcept' | translate }}</span>
                    <span class="total">{{ 'summerCourse.payment.amount' | translate }} </span>
                </div>

                <button (click)="exportReceiptToPdf(pdf)">{{ 'summerCourse.payment.download' | translate }}</button>
            </div>

            <div *ngFor="let student of receipt.students; let stud_idx = index" class="student-info-courses">
                <div class="section-course">
                    <div class="student-name">
                        <ng-container *ngIf="receipt; else check">
                            <h6>{{ student.full_name }}</h6>
                        </ng-container>

                        <div *ngFor="let course of student.courseLines; let cours_idx = index" class="separator">
                            <div class="course-name">
                                <p>{{ course.name }} <span class="separation"></span> <span>{{ course.school_name }}</span></p>
                            </div>

                            <div class="course-info">
                                <h5>{{ 'summerCourse.payment.selectedConvocations' | translate }}:</h5>
                                <div *ngFor="let announcement of course.announcements" class="course-content">
                                    <span class="text">{{ 'summerCourse.payment.courseDateRange' | translate}}: 
                                                {{ 'summerCourse.payment.from' | translate }} <span class="separation"></span>
                                    <b>{{ announcement.init | date:'dd/MM/yyyy' }}</b> {{ 'summerCourse.payment.to' | translate}}
                                    <b>{{ announcement.end | date:'dd/MM/yyyy' }}</b> </span>
                                    <span class="price">{{announcement.initial_amount | number: '1.0-0' }} <span class="symbol">€</span> <span class="euro">Eur</span></span>
                                </div>
                            </div>

                            <div class="course-info" *ngIf="course.announcements_discounts.length">
                                <h5>Descuentos aplicados al curso:</h5>
                                <div *ngFor="let discount of course.announcements_discounts" class="course-content">
                                    <span class="text">{{ discount.name }}</span>
                                    <span class="price">{{-discount.amount | number: '1.0-0' }} <span class="symbol">€</span> <span class="euro">Eur</span></span>
                                </div>
                            </div>

                            <div class="course-info" *ngIf="course.additional_services.length">
                                <h5>{{ 'public.additionalService' | translate }}:</h5>
                                <div *ngFor="let service of course.additional_services" class="course-content">
                                    <span class="text">{{ service.name }} </span>
                                    <span class="price">{{ service.initial_amount | number: '1.0-0' }} <span class="symbol">€</span> <span class="euro">Eur</span></span>
                                </div>
                            </div>

                            <div class="course-info">
                                <div *ngFor="let service of course.additional_services; let i = index">
                                    <h5 *ngIf="service.discounts.length && i == 0">Descuentos aplicados a los servicios adicionales:</h5>
                                    <div *ngFor="let discount of service.discounts" class="course-content">
                                        <span class="text">{{service.name}}: {{ discount.name }}</span>
                                        <span class="price"> - {{ discount.amount | number: '1.0-0' }}<span class="symbol">€</span> <span class="euro">Eur</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="section-course">
                    <div class="course-price">
                        <span>{{ 'summerCourse.payment.total' | translate}}</span>
                        <span>{{ receipt.initial_price | number: '1.0-0'}} <span class="symbol">€</span> <span class="euro">Eur</span></span>
                    </div>

                    <div class="course-price course-price-total">
                        <span>Total tras aplicar los descuentos</span>
                        <span>{{ receipt.final_price | number: '1.0-0'}} <span class="symbol">€</span> <span class="euro">Eur</span></span>
                    </div>
                </div>
            </div>


            <div>
                <div class="invoice">
                    <div class="container-invoice">
                        <div class="block1">
                            <p><strong>Expedidor</strong></p>
                            <p>{{ schoolReceiptData.businessName || 'INSTITUCIÓN EDUCATIVA SEK S.L'}}</p>
                            <p>C.I.F. {{schoolReceiptData.cif || ''}}</p>
                        </div>
                        <div class="block2">
                            <p><strong>{{schoolReceiptData.name || ''}}</strong></p>
                            <p>Email: {{schoolReceiptData.email || ''}}</p>
                            <p>{{schoolReceiptData.address || ''}}</p>
                            <p>{{schoolReceiptData.locality || ''}} {{schoolReceiptData.zipCode || ''}}</p>
                            <p>{{schoolReceiptData.city || ''}} - {{schoolReceiptData.country || ''}}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section-body body-buttons">
                <button class="btn-main" (click)="exportReceiptToPdf(pdf)">{{ 'summerCourse.payment.download' | translate }}</button>
            </div>




        </kendo-pdf-export>

    </div>

</div>