<div class="dialog-sek" [formGroup]="forma">
    <div class="dialog-header">
        <h2 *ngIf="tutor"><span><i class="fas fa-user-shield"></i> Tutor:</span> {{ tutor.full_name }}</h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>


    <fieldset class="dialog-body">
      <!-- Capa Form Desactivado -->
      <div *ngIf="forma.disabled" class="mandatory-contact">
        <div class="message-danger">{{ 'admission.form_disabled' | translate }}</div>
      </div>
        <!--Datos tutor-->
        <div class="section-body">
            <h3>{{ 'formData.tutor.tittleTutorInformation' | translate }}</h3>

            <div class="one-row mb-0">
                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.firstName' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="first_name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_name').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.surname' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="first_surname" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_surname').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.secondSurname' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="second_surname">
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.civilStatus' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="marital_status" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let status of marital_status" value="{{status['value']}}">{{status['label']}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="one-row mt-0">
                <mat-form-field class="col-25">
                    <mat-label>{{ 'formData.tutor.documentType' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="document_type" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let docuType of document_types" value="{{docuType['value']}}">{{docuType['label']}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('document_type').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-label *ngIf="forma.get('document_type').value != 'Otros' && forma.get('document_type').value != 'Pasaporte'">{{ (!!forma.get('document_type').value || forma.get('document_type').value == 'Otros') ? forma.get('document_type').value : 'Documento' }}</mat-label>
                    <mat-label *ngIf="forma.get('document_type').value == 'Pasaporte'">{{ 'formData.student.passport' | translate }}</mat-label>
                    <mat-label *ngIf="forma.get('document_type').value == 'Otros'">{{ 'formData.student.other' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="document_number" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.controls.document_number.errors">
                        {{ getErrorMessage(forma.controls.document_number) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-select placeholder="{{ 'formData.tutor.gender' | translate }}" formControlName="gender" [errorStateMatcher]="matcher">
                        <mat-option value="Male">{{ 'public.male' | translate }}</mat-option>
                        <mat-option value="Female">{{ 'public.female' | translate }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('gender').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-25">
                    <mat-select placeholder="{{ 'formData.tutor.nationality' | translate }}" formControlName="nationality" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let nationality of nationalities | firstWhen: {eval: 'value==\'Spain\'', then: 'label'}" value="{{nationality['value']}}">{{nationality['label']}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('nationality').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

            </div>
        </div>

        <!--Datos contacto-->
        <div class="section-body">
            <h3>{{ 'public.contactInformation' | translate }}</h3>

            <div class="one-row" formGroupName="contact">
                <mat-form-field class="col-50">
                    <mat-label>{{ 'formData.tutor.email' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="email" readonly>
                </mat-form-field>

                <mat-form-field class="col-50">
                    <mat-label>{{ 'formData.tutor.mobilePhone' | translate }} (ejem: +346560000)</mat-label>
                    <input matInput placeholder="" formControlName="phone" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('contact.phone').errors">
                        {{ getErrorMessage(forma.get('contact.phone')) }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!--Acuerdos-->
        <div class="section-body">
            <h3>{{ 'public.agreements' | translate }}</h3>
            <div class="one-row">
                <div class="col-75">
                    {{ 'summerCourse.addTutors.memberCommunity' | translate | slice:0:18}}
                    <a href="https://alumnisek.es/" class="btn-link" target="_blank">{{ 'summerCourse.addTutors.memberCommunity' | translate | slice:18}}</a>
                </div>
                <div class="col-25">
                    <mat-radio-group formControlName="alumni_SEK">
                        <mat-radio-button [value]="true">{{ 'public.yes' | translate }}</mat-radio-button>
                        <mat-radio-button [value]="false">{{ 'public.no' | translate }}</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="forma.get('alumni_SEK').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </div>

                <div *ngIf="forma.get('alumni_SEK').value">
                    <mat-form-field class="col-50 mb-1">
                        <mat-label>{{ 'summerCourse.addTutors.userName' | translate }}</mat-label>
                        <input matInput placeholder="" formControlName="alumni_SEK_name" [errorStateMatcher]="matcher">
                        <mat-hint> {{ 'summerCourse.addTutors.infoUserName' | translate }} </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="one-row">
                <div class="col-75">
                    {{ 'summerCourse.addTutors.sportClubMember' | translate }}
                </div>
                <div class="col-25">
                    <mat-radio-group formControlName="sport_club">
                        <mat-radio-button [value]="true">{{ 'public.yes' | translate }}</mat-radio-button>
                        <mat-radio-button [value]="false">{{ 'public.no' | translate }}</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="forma.get('sport_club').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </div>
            </div>

            <div class="one-row">
                <div class="col-100">
                    {{ 'summerCourse.addTutors.collectiveMember' | translate }}
                </div>
                <mat-form-field formGroupName="collective" class="col-50">
                    <input type="text" placeholder="" aria-label="Number" matInput [formControl]="collective" [matAutocomplete]="auto">
                    <mat-hint> {{ 'summerCourse.addTutors.workAgreement' | translate }} </mat-hint>

                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let collective of filteredCollectives" [value]="collective.name" (onSelectionChange)="collectiveAssign(collective, $event)">
                            {{ collective.name }}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>

            <div class="one-row">
                <div class="message-info">
                    (*) {{ 'summerCourse.addTutors.note' | translate }} {{ 'summerCourse.addTutors.collectiveNote' | translate }}
                </div>
            </div>

        </div>

        <!--Datos dirección-->
        <div class="section-body">
            <h3>{{ 'public.addressData' | translate }}</h3>

            <app-address-alias *ngIf="tutor.id && id_family" (statusAddressForm)="statusAddressForm = $event" userType="Tutor" [id]="tutor.id" idFamily="{{id_family}}" [saved]="saved"></app-address-alias>
        </div>

        <div class="section-body">

            <button *ngIf="new_tutor" class="btn-action" [disabled]="forma.invalid || !statusBankForm || !statusAddressForm" (click)="save()">{{ 'public.send' | translate }}</button>

            <button *ngIf="!new_tutor" class="btn-action" [disabled]="forma.invalid || !statusBankForm || !statusAddressForm" (click)="update()">{{ 'public.send' | translate }}</button>

        </div>
    </fieldset>

    <div class="dialog-footer footer-fixed">
        <div class="footer-content">
            <button *ngIf="new_tutor" class="btn-main" [disabled]="forma.invalid || forma.disabled || !statusAddressForm" (click)="save()">{{ 'public.send' | translate }}</button>

            <button *ngIf="!new_tutor" class="btn-main" [disabled]="forma.invalid || forma.disabled || !statusAddressForm" (click)="update()">{{ 'public.send' | translate }}</button>

        </div>
    </div>



</div>
