<button [ngClass]="(type === 'student') ? 'student' : ''" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>


<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of admin_menu" (click)="this[item.event]()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
    </button>
</mat-menu>