@import '../../../../../../all-styles/variables.scss';
.student-box {
    border: 1px solid #f5f094;
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
    width: 97%;
    background: #f9f8ed;
}

.student-info-courses {
    margin: 1rem 0;
    .section-course {
        margin-bottom: 20px;
        mat-checkbox {
            margin-top: 0.5rem;
            font-weight: 600 !important;
            color: $sek-orange;
        }
    }
    .course-name {
        p {
            color: #76bac1;
            margin: 0.5rem 0rem 0 1.8rem;
            font-weight: 600;
            span {
                color: #a7a2a2;
                font-size: 0.9rem;
            }
        }
    }
    h5 {
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 600;
        font-size: 1rem;
    }
    .course-info {
        .course-content {
            display: flex;
            justify-content: space-between;
            padding-left: 10px;
            span.text {
                padding-right: 15px;
            }
        }
        .course-total {
            display: flex;
            justify-content: flex-end;
            span {
                font-weight: bold;
            }
        }
    }
}

.section-total {
    border: 1px solid #cdd6e4;
    border-radius: 3px;
    padding: 0.5rem 0.75rem;
    width: 97%;
    background: #e0eeff;
    margin: 1rem 0;
    .subtotal {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    .course-price {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    .course-price-total {
        text-transform: uppercase;
        color: #ad3b33;
        margin-top: 1rem;
    }
    span.price {
        white-space: nowrap;
    }
}