<div *ngFor="let student of studentsToPay; let stud_idx = index" class="student-info-courses student-box">

    <div class="section-course">
        <div class="student-name">
            <ng-container *ngIf="receipt; else check">
                {{ student.full_name }}
            </ng-container>

            <ng-template #check>
                <!-- <mat-checkbox [(ngModel)]="announcements[i].is_selected" (change)="onChange(announcement.price)"> -->
                <mat-checkbox [checked]=true (change)="onSelectStudentToPay(student.id, $event.checked)">
                    {{ student.full_name }}
                </mat-checkbox>
            </ng-template>
        </div>


        <!--Grupo Curso + Precios-->
        <div *ngFor="let course of student.courses; let cours_idx = index">

            <div class="course-name">
                <p>{{ course.name }} <span>({{ course.school.name }})</span></p>
            </div>


            <div class="course-info">
                <h5>{{ 'summerCourse.payment.selectedConvocations' | translate }}:</h5>
                <div *ngFor="let announcement of course.announcements" class="course-content">
                    <span class="text">{{ 'summerCourse.payment.courseDateRange' | translate}}: 
                        {{ 'summerCourse.payment.from' | translate }}
                        <b>{{ announcement.init | date:'dd/MM/yyyy' }} </b>
                        {{ 'summerCourse.payment.to' | translate}} 
                        <b>{{ announcement.end | date:'dd/MM/yyyy' }}</b> </span>
                    <span class="price">{{announcement.price | number: '1.0-0' }} €</span>
                </div>
            </div>

            <div class="course-info" *ngIf="discounts[stud_idx][cours_idx]['plusFlag']">
                <div class="course-content">
                    <span class="text">{{ 'summerCourse.courses.campService' | translate }}</span>
                    <span class="price">+120 €</span>
                </div>
            </div>

            <div class="course-info" *ngIf="discounts[stud_idx][cours_idx]['course_reduced']['discounts'].length">
                <h5>{{ 'summerCourse.payment.courseDiscounts' | translate}}:</h5>
                <div *ngFor="let discount of discounts[stud_idx][cours_idx]['course_reduced']['discounts']" class="course-content">
                    <span class="text">{{ discount.name }}</span>
                    <span class="price">{{-discount.amount | number: '1.0-0' }} €</span>
                </div>
            </div>

            <div class="course-info" *ngIf="course.additional_ser.length">
                <h5>{{ 'public.additionalService' | translate }}:</h5>
                <div *ngFor="let service of course.additional_ser" class="course-content">
                    <span class="text">{{ service.name }} </span>
                    <span class="price">{{ service.price * course['announcements'].length | number: '1.0-0' }} €</span>
                </div>
            </div>

            <div class="course-info" *ngIf="discounts[stud_idx][cours_idx].course_reduced.additional_services.length">
                <h5>{{ 'summerCourse.payment.serviceDiscounts' | translate}}:</h5>
                <div *ngFor="let service of discounts[stud_idx][cours_idx].course_reduced.additional_services; let i = index">
                    <div *ngFor="let discount of service.discounts" class="course-content">
                        <span class="text">{{service.name}}: {{ discount.name }}</span>
                        <span class="price"> - {{ discount.amount | number: '1.0-0' }} €</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<!--Totales-->
<div class="section-total">
    <div class="subtotal">
        <span>{{ 'summerCourse.courses.subtotal' | translate}}</span>
        <span class="price">{{ total_amount | number: '1.0-0'}} €</span>

    </div>

    <div class="course-price course-price-total">
        <span>{{ 'summerCourse.courses.orderTotal' | translate}}</span>
        <span class="price">{{ final_amount | number: '1.0-0'}} €</span>
    </div>

</div>