@import '../../../../../../all-styles/variables.scss';
.course-list {
    cursor: pointer;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #ddd;
    &:hover {
        background: #fde5d8;
    }
    img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin: 0 0.5rem;
    }
    .course-item {
        .title {
            font-weight: 600;
            margin-bottom: 0.3rem;
            color: $sek-orange;
        }
        .location {
            font-size: 0.9rem;
            color: #777;
            margin-bottom: 0.4rem;
        }
        button {
            color: #d4908b;
            font-weight: 400;
            @extend %transition-sek;
            &:hover {
                color: $sek-red;
                font-weight: 500;
            }
        }
    }
}