<div class="course-list">
    <img src="app/assets/img_sc/{{course.photo}}" />
    <div class="course-item">
        <p class="title">{{ course.name }}</p>
        <p class="location"><i class="fas fa-map-marker-alt"></i> {{ course.school.name }}</p>
        <app-announcements *ngFor="let announcement of course.announcements" [announcement]="announcement"></app-announcements>
        <div *ngIf="!is_paid">
            <button mat-icon-button (click)="deleteCourse(course.announcements[0].id_opportunity, $event)">
                <i class="fas fa-trash"></i> {{ 'admission.admissionInProcess.deleteCourse' | translate }} 
        </button>
        </div>
    </div>
</div>