<div class="card-sek">
    <div class="card-header header-disabled">
        <h2 class="disabled"><i class="fas fa-user-shield"></i> tutor </h2>
        <div>
            <i class="fas fa-lock"></i>
        </div>
    </div>

    <div class="card-body body-disabled">
        <p>{{ tutor.full_name }}</p>
    </div>
    <div class="card-footer footer-disabled">
        <a (click)="requestPermission()"><i class="fas fa-envelope"></i> {{ 'admission.tutorInformation.permissionRequest' | translate }}</a>
    </div>
</div>