<div *ngIf="courses">

    <h4><i class="fas fa-graduation-cap"></i> {{ differentCourses().length }} {{ 'admission.studentInformation.course' | translate }}(s)</h4>
    <div class="course-list" *ngFor="let course of differentCourses()">
        <img src="app/assets/img_sc/{{course.photo}}" />
        <div class="course-item" (click)="onButtonOpenDialog_click('course_details', course)">

            <p class="title">{{course.name}}</p>
            <p class="location"><i class="fas fa-map-marker-alt"></i> {{ course.school.name }}</p>
            <div class="announcement-course">
                <label> {{ 'public.date' | translate }} {{ 'summerCourse.courses.from' | translate }}</label>
                <b>{{ course.init | date:'dd/MM/yyyy' }}</b> {{ 'summerCourse.courses.to'| translate }}
                <b>{{ course.end | date:'dd/MM/yyyy' }}</b>
                <p class="info-text" *ngFor="let thematic of course.thematic">{{ thematic.name }}</p>
                <label>{{ 'summerCourse.courses.ageOf' | translate }}</label>
                <b>{{ course.age_min }}</b> {{ 'summerCourse.courses.toDate'| translate }}
                <b>{{ course.age_max }}</b> {{ 'summerCourse.courses.years' | translate }}

            </div>
        </div>
    </div>
</div>