@import '../../../../../../all-styles/variables.scss';
@import '../../cards/selected-courses-list/selected-courses-list.component.scss';
@import '../../components/announcement/announcement.component.scss';
h4 {
    margin-bottom: 0.75rem;
    color: #777;
    font-size: 1.1rem;
}