<div class="dialog-sek" [formGroup]="forma">
    <div class="dialog-header">
        <h2><i class="fas fa-user-shield"></i> {{ 'summerCourse.addTutors.addTutor' | translate }}</h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>

    <fieldset class="dialog-body">

        <div *ngIf="user_exist" class="message-danger">
            {{ message_error }}
        </div>

        <div class="section-body">
            <h3>Datos del tutor</h3>
            <div class="one-row">
                <mat-form-field class="col-50">
                    <mat-label>{{ 'formData.tutor.firstName' | translate }}</mat-label>
                    <input matInput formControlName="first_name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_name').errors?.required">
                        {{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-50">
                    <mat-label>{{ 'formData.tutor.surname' | translate }}</mat-label>
                    <input matInput formControlName="first_surname" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.get('first_surname').errors?.required">
                        {{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-50">
                    <mat-label>{{ 'formData.tutor.documentType' | translate }}</mat-label>
                    <mat-select placeholder="" formControlName="document_type" [errorStateMatcher]="matcher">
                        <mat-option *ngFor="let docuType of document_types" value="{{docuType['label']}}">{{docuType['label']}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forma.get('document_type').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                </mat-form-field>

                <mat-form-field class="col-50">
                    <mat-label *ngIf="forma.get('document_type').value">{{ forma.get('document_type').value}}</mat-label>
                    <mat-label *ngIf="!forma.get('document_type').value">{{ 'public.document' | translate }}</mat-label>
                    <input matInput placeholder="" formControlName="document_number" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="forma.controls.document_number.errors">
                        {{ getErrorMessage(forma.controls.document_number) }}
                    </mat-error>
                </mat-form-field>

                <div formGroupName="contact">
                    <mat-form-field class="col-50">
                        <mat-label>{{ 'formData.tutor.email' | translate }}</mat-label>
                        <input matInput placeholder="" formControlName="email" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="forma.get('contact.email').errors?.required">{{ 'message.error.enterValue' | translate }}</mat-error>
                        <mat-error *ngIf="forma.get('contact.email').errors?.pattern">Escriba un mail valido</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>



        <div class="section-body body-buttons">
            <button class="btn-main" [disabled]="forma.invalid" (click)="create()">{{ 'public.send' | translate }}</button>
        </div>

    </fieldset>
</div>