<div class="dialog-sek" *ngIf="family">
    <div class="dialog-header">
        <h2>
            <i class="far fa-credit-card"></i> {{ 'summerCourse.payment.paymentCourses' | translate }} {{familyName}}
        </h2>
        <button class="close-dialog" (click)="closeDialog()">
                <i class="material-icons">clear</i>
            </button>
    </div>
    <fieldset class="dialog-body">
        <div class="section-body">
            <h3>{{ 'summerCourse.payment.confirmCourses' | translate }}</h3>
            <div *ngIf="international" class="message-info">
                {{ 'paymentData.internationalNote' | translate }}
            </div>
            <div *ngIf="fieldsValid === false" class="message-danger">
                {{ 'paymentData.scNotCompletedFields' | translate }}
            </div>
            <div *ngIf="!getValidStatusTutors() && !backofficeFlag" class="message-danger">
                {{ 'termsConditions.acceptBothTutors' | translate }}
            </div>

            <app-purchase-list (checkout)="checkout = $event" (amount)="amount = $event" (schoolsToPay)="onChangeSchoolsToPay($event)" (international)="international = $event" (internationalReservation)="internationalReservation = $event" [family]="family"></app-purchase-list>

        </div>


        <div class="section-body" *ngIf="schoolsToPay && schoolsToPay.size && fieldsValid">
            <h3>{{ 'paymentData.2indicatePaymentMethod' | translate }}</h3>
            <mat-radio-group class="one-row" [(ngModel)]="paymentType">
                <mat-accordion>
                    <mat-expansion-panel #panel_tpv hideToggle="true" *ngIf="!international  || (!international && countryType == 'NO_COUNTRY') || countryType == 'ALL' " class="col-100 mb-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title (click)="paymentType = 'bankCard'">
                                <mat-radio-button value="bankCard">{{ 'paymentData.bankCard' | translate }}</mat-radio-button>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                    <mat-expansion-panel #panel_directDebit hideToggle="true" *ngIf="countryType != 'NO_SEPA'" class="col-100">
                        <mat-expansion-panel-header>
                            <mat-panel-title (click)="paymentType = 'directDebit'">
                                <mat-radio-button value="directDebit">{{ 'paymentData.directDebit' | translate }}</mat-radio-button>
                            </mat-panel-title>
                        </mat-expansion-panel-header>


                        <app-bank-alias *ngIf="tutor.id && family.id" (statusBankForm)="onChangeStatusBankForm($event)" userType="Tutor" [id]="tutor.id" idFamily="{{family.id}}" [isSCPayment]="true" [saved]="saved" [mandatoryData]="true"></app-bank-alias>

                        <div class="message-info" *ngIf="directDebitNationalCourse">
                            {{ 'paymentData.directDebitNationalCourse' | translate }}
                        </div>
                        <div class="message-info" *ngIf="directDebitInternationalCourse">
                            {{ 'paymentData.directDebitInternationalCourse' | translate }}
                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel #panel_international hideToggle="true" class="col-100 mb-1" *ngIf="countryType == 'NO_SEPA' || countryType == 'ALL'">
                        <mat-expansion-panel-header>
                            <mat-panel-title (click)="paymentType = 'internationalTransfer'">
                                <mat-radio-button value="internationalTransfer">{{ 'paymentData.bankTransfer' | translate }}</mat-radio-button>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="message-info message-space">
                            <p [innerHTML]="'paymentData.internationalText1' | translate"></p>
                            <p class="number" [innerHTML]="'paymentData.internationalText2' | translate:param"> </p>
                            <p class="number" [innerHTML]="'paymentData.internationalText3' | translate"></p>
                            <p [innerHTML]="'paymentData.internationalText4' | translate"></p>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
            </mat-radio-group>
        </div>

        <div class="section-body">
            <div class="message-info" *ngIf="internationalReservation && paymentType">
                <span *ngIf="paymentType === 'directDebit'">
                    Nota: El pago de los cursos internacionales se realizará por domiciliación. Se girará un primer recibo en concepto de reserva por valor de 300€ y un segundo recibo a partir del  20 de mayo con el resto del importe.
                </span>
                <span *ngIf="paymentType === 'bankCard'">
                    Nota: Para cursos internacionales se realizará un primer pago de 300€ en concepto de reserva y un segundo pago con el resto del importe antes del 20 de mayo.
                </span>
            </div>
        </div>
        <div class="section-body">
            <div class="body-buttons">
                <button class="btn-main" (click)="pay()" [disabled]="validStatusPayment()">{{ 'paymentData.makePayment' | translate }}</button>
            </div>
        </div>
    </fieldset>
</div>
